#home {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-items: center;
  flex-grow: 1;
  min-height: 0;
  padding: 32px 20px 24px;
}

section {
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 5px;
  color: var(--accent);
  background: var(--accent-bg);
  border: 2px solid transparent;
  transition: border-color 0.3s;
  width: 100%;

  &:hover {
    border-color: var(--accent-border);
  }
  &:focus-visible {
    outline: 2px solid var(--accent);
    outline-offset: 2px;
  }
}

.error-button {
  align-self: flex-end;
}
